body, html {
  margin: 0;
  height: 100%;
}

.bg {
  background-image: url("assets/img/bg-home.jpg");
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  padding: 0;
  margin: 0;
  height: 80%;
  width: auto;
  margin-left: 10px;
  margin-top:7px;
  float: left;
}

#header {
  width: 100%;
  height: 70px;
  background-color: rgba(0, 153, 38, 0.8);
  padding: 0;
  margin: 0;
}

#h-line {
  height: 4px;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  opacity: 70%;
}

.h-ul {
  list-style-type: none;
  margin: 0;
  margin-right: 5px;
  padding-top: 7px;
  overflow: hidden;
}

.h-li {
  float: right;
  font-family: sans-serif;
  font-size: 20px;
}

.h-li-a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.no-link-deco {
  text-decoration: none;
}

.main-welcome {
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  text-align: center;
  max-width: 1500px;
  font-family: monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 0px black;
}

.main-browse-button {
  padding: 0;
  margin: 0;
  width: 300px;
  height: 100px;
  background-color: rgba(0, 153, 38, 0.8);
  border-radius: 15px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  font-family: monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.main-button-p {
  padding-top: 14px;
}
